.schedule {
  margin-top: 1em;
}

.schedule > * {    
  padding: 0.3em;
  border-radius: 0.2em;
}

.schedule h2 {
  margin: 0;
  font-size: 110%;
  font-weight: 600;
  margin-top: 1.5em;
}

.schedule h3 {
  font-size: 1em;    
  border-radius: 0;
  margin-top: 1em;
  font-weight: 400;
}

.empty {
  display: none;
}

.session {
  margin-bottom: 0.5em;
}

.session-time {
  font-size: 0.8em;
}

@media screen and (min-width: 700px) {
    .schedule {
      display: grid;
      grid-gap: 0.5em; 
      grid-template-rows:
        [tracks] auto /* Foreshadowing! */
        [pe-14] 1fr
        [pe-15] 1fr
        [pe-16] 1fr
        [pe-17] 1fr
        [pe-18] 1fr
        [pe-19] 1fr
        [pe-20] 1fr
        [pe-21] 1fr
        [pe-22] 1fr
        [pe-23] 1fr
        [la-00] 1fr
        [la-01] 1fr
        [la-02] 1fr
        [la-03] 1fr
        [la-04] 1fr
        [la-05] 1fr
        [la-06] 1fr
        [la-07] 1fr
        [la-08] 1fr
        [la-09] 1fr
        [la-10] 1fr
        [la-11] 1fr
        [la-12] 1fr
        [la-13] 1fr
        [la-14] 1fr
        [la-15] 0;
      grid-template-columns:
        [day] 2em
        [times] 3em
        [track-1-start] 1fr
        [track-1-end track-2-start] 1fr
        [track-2-end track-3-start] 1fr
        [track-3-end track-4-start] 1fr
        [track-4-end];
    }

    .day-slot {
      grid-column: day;
      writing-mode: vertical-rl;
    }

    .time-slot {
      grid-column: times;
      text-align: right;
    }
    
    .empty {
      display: block;
    }

    .session {
      margin: 0;
    }

    .session-time {
      display: none;
    }

    .schedule h2 {
      margin: 0;
    }

    .schedule h3 {
      border-top: 1px dashed var(--neutral);
      margin: 0;
    }

  }

  .day-slot {
    background-color: var(--neutral-lighter);
    color: var(--neutral-darker);
    text-align: center;    
  }

  .track-1 {
    background-color: var(--neutral-dark);
    color: #fff;
  }
  
  .track-2 {
    background-color: var(--primary);
    color: var(--neutral-lighter);
  }
  
  .track-3 {
    background-color: #544D69;
    color: #fff;
  }
  
  .track-4 {
    background-color: #3A6069;
    color: #fff;
  }

