@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Stalinist+One&display=swap');

* {
  margin: 0;
  padding: 0;  
}

html {
  scroll-behavior: smooth;  
}

body {
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

h1 {
  letter-spacing: 0.05em;	
}

/* --- VÄRIASETUKSET -- */

.white75 {
  color: rgba(255,255,255,0.75);	
}	

.size-3 {
  font-size: 1.75rem;	  
}	


 
.flex-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;  
}	

.flex-row {
  display: flex;
  flex-wrap: wrap;
}	

.justify-evenly {
  justify-content: space-evenly;   
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.nappi {
  background-color: #444;
  border-radius: 0.5em;
  border: 2px solid #333;
  padding: 1em 1.5em;
  color: #eee;  
  margin: 2em;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 3px 3px 3px #ccc;
  font-size: 1.25em;
  text-align: center;
}	

.nappi:hover {
  color: #fff;	
  background-color: #000;
}	

.sivu {
	min-height: 100vh;
	padding: 6em 2em 3em 3em;
	box-sizing: border-box;
}

.sivu > div {
  max-width: 39rem;
  margin: 0 auto;  
}	

.sivu h1 {
  font-size: 2rem;
  margin-bottom: 1rem;  
}	

.sivu h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;  
  font-weight: 500;
}	

.sivu ul li {
  margin-left: 2em;
} 	

.pelit {
  display: flex;
  justify-content: center;	
  margin: 1em 0;
  flex-wrap: wrap;
}	

.pelit div {
  margin: 0.5em 1em;
  border: 1px solid #023353;
  padding: 1em 1.5em;  
  border-radius: 0.5em;
  background-color: #012136;
  text-align: center;
}	


#etusivu, #ilmoittaudu, #yhteystiedot, #footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

#navigointi {
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em;
  box-sizing: border-box;
  flex-wrap: wrap;
  visibility: hidden;
}

#navigointi h1 {
    font-family: 'Stalinist One', cursive;	
	font-size: 1.5rem;
}	

#navigointi a {
	color: rgba(255,255,255,0.8);
	text-decoration: none;
	padding: 0 1em;
}

#navigointi a:hover {
	color: #fff;
}

#navigointi ul {
	display: flex;
}

#navigointi ul li {
	display: block;
}

#etusivu {
  background: url(tausta2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;  
  font-size: 1.25rem;
}

#etusivu h1 {
  font-family: 'Stalinist One', cursive;	
  font-size: 2.5em;
  margin-bottom: -0.3em;
}	

#lan {
	background-color: #012136;	
	color: #eee;
}

#turnaus {
	background-color: #04436b;	
	color: #eee;
}

#info {
	background-color: #075181;	
	color: #eee;
}

#ilmoittaudu {
	background-image: url('gplaypattern.png');
	color: #333;
}

#ilmoittaudu * {
   text-align: center; 
}

#yhteystiedot {
	background-color: #fafafa;
	color: #333;
}

.contact div {
  margin: 2em 2em 0em 2em;
}	

.contact div span {
  font-weight: 500;	
}	

#footer {
	padding: 1em 0;
	background-color: #fff;
	color: #023353;
	font-size: 0.8rem;
	font-weight: 100;	
}

#footer .logo img {
  height: 12em;
}

.coop {
  display: flex;
  flex-direction: column;
  align-items: center;  
}	

.coop div {
  margin: 0.5em;	    
}	

.coop img {
  max-height: 7em;   
  margin: 0.5em;
  max-width: 95vw;  
}	

@media only screen and (max-width: 600px) {
  #etusivu {
    font-size: 1rem;    
  }  
}

@media only screen and (min-width: 768px) {

  .sivu h1 {
    font-size: 3rem;
  }

  #etusivu {
    font-size: 2rem;    
  }

  #navigointi {
    visibility: visible;
  }
}  

@media only screen and (min-width: 1200px) {
  #etusivu {
    font-size: 2.5rem;    
  }
}  